.empty-cart-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
}

.empty-cart-container img {
    width: 300px;
    margin-bottom: -32px;
}

.empty-cart-container span {
    margin-top: -100px;
    margin-bottom: 10px;
}